{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-sm border-0">

                <div class="card-body p-4 text-center">

                    <div class="fs-1 mb-3">
                        ✅
                    </div>

                    <h3>
                        Password Reset Successful
                    </h3>

                    <p class="text-muted">
                        Your ScoreSkill password has been changed.
                    </p>

                    <a
                        href="{% url 'login' %}"
                        class="btn btn-success mt-3"
                    >
                        Login
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}