{% extends 'base.html' %}

{% block content %}

<h2>🤖 AI Performance Insights</h2>

<div class="card p-3 mt-3">

    <h4>📊 Total Score: {{ score }}</h4>

    <h5>
        Performance:
        {% if level == "Strong" %}
            <span class="text-success">💪 Strong</span>
        {% elif level == "Average" %}
            <span class="text-warning">🙂 Average</span>
        {% else %}
            <span class="text-danger">⚠ Weak</span>
        {% endif %}
    </h5>

    <hr>

    <h5>🤖 AI Feedback</h5>
    <p>{{ feedback }}</p>

</div>

{% endblock %}