{% extends 'base.html' %}

{% block content %}

<h3>📚 All Courses</h3>

<div class="row">
{% for course in courses %}
    <div class="col-md-4">
        <div class="card p-3 mb-3">

            <h5>{{ course.title }}</h5>
            <p>{{ course.description }}</p>
            <p>₹ {{ course.price }}</p>

            {% if course.is_private %}
                <a href="/request-course/{{ course.id }}/" class="btn btn-warning">
                    Request Access 🔒
                </a>
            {% else %}
                <a href="/buy-course/{{ course.id }}/" class="btn btn-success">
                    Buy / Enroll 💰
                </a>
            {% endif %}

        </div>
    </div>
{% endfor %}
</div>

{% endblock %}