{% extends 'base.html' %}

{% block content %}

<h2>🏆 Leaderboard</h2>

<div class="card p-3 mt-3">

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Student</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.student__username }}</td>
            <td>{{ item.total_score }}</td>
        </tr>
        {% empty %}
        <tr class="
        {% if forloop.counter == 1 %}table-warning
        {% elif forloop.counter == 2 %}table-secondary
        {% elif forloop.counter == 3 %}table-info
        {% endif %}
        ">
            <td>
            {% if forloop.counter == 1 %}🥇
            {% elif forloop.counter == 2 %}🥈
            {% elif forloop.counter == 3 %}🥉
            {% else %}
                {{ forloop.counter }}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>

{% endblock %}