{% extends 'base.html' %}

{% block content %}

<h3>🏆 Leaderboard</h3>

<table class="table table-dark table-striped">
    <tr>
        <th>Rank</th>
        <th>Student</th>
        <th>Score</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>#{{ forloop.counter }}</td>
        <td>{{ item.student.username }}</td>
        <td>{{ item.score }}</td>
    </tr>
    {% endfor %}
    <td>
        {{ item.score }}

        {% if item.score > 50 %}
            🥇
        {% elif item.score > 20 %}
            🥈
        {% else %}
            🥉
        {% endif %}
    </td>

</table>

{% endblock %}