{% extends 'base.html' %}

{% block content %}

<h3>💰 Upgrade Your Plan</h3>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3 text-center">
            <h4>Free</h4>
            <p>₹0</p>
            <p>Basic access</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 text-center">
            <h4>Pro</h4>
            <p>₹499/month</p>

            <a href="/buy-subscription/" class="btn btn-success">
                Upgrade 🚀
            </a>
        </div>
    </div>

</div>

{% endblock %}