{% extends 'base.html' %}

{% block content %}

<h3>👨‍🏫 Teacher Dashboard</h3>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card p-3 text-center shadow">
            <h4>{{ total_students }}</h4>
            <p>Total Students</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 text-center shadow">
            <h4>{{ total_classes }}</h4>
            <p>Total Classes</p>
        </div>
    </div>

</div>

<a href="/create-course/" class="btn btn-success mb-3">+ Create Course</a>
<a href="/create-live-class/" class="btn btn-warning mb-3">+ Create Live Class</a>

<h5>Your Courses</h5>

<ul class="list-group">
    {% for course in courses %}
    <li class="list-group-item">{{ course.title }}</li>
    {% endfor %}
</ul>

{% endblock %}