{% extends 'base.html' %}

{% block content %}



<h2 class="mb-4">👨‍🏫 Teacher Dashboard</h2>

<div class="row g-4 mb-4">

    <div class="col-md-4">
        <div class="card p-3 text-center">
            <h2>{{ total_students }}</h2>
            <p>Total Students</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 text-center">
            <h2>{{ total_classes }}</h2>
            <p>Total Classes</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 text-center">
            <h2>₹{{ total_revenue }}</h2>
            <p>Total Revenue</p>
        </div>
    </div>

</div>

<h4 class="mt-4">📊 Student Analytics</h4>

<canvas id="myChart"></canvas>

<script>
    const labels = JSON.parse('{{ course_names|escapejs }}');
    const dataValues = JSON.parse('{{ student_counts|escapejs }}');

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Students per Course',
                data: dataValues
            }]
        }
    });
</script>

<h4 class="mt-4">💰 Revenue Dashboard</h4>

    <div class="card p-3 mb-3">
        <h3>Total Revenue: ₹{{ total_revenue }}</h3>
    </div>

    {% for item in course_revenue %}
        <div class="card p-2 mb-2">
            {{ item.course }} — ₹{{ item.revenue }}
        </div>
    {% endfor %}

<a href="/create-course/" class="btn btn-success rounded-pill px-4 mb-3">+ Create Course</a>
<a href="/create-live-class/" class="btn btn-warning mb-3">+ Create Live Class</a>


<h4>Your Courses</h4>

<div class="row">
{% for course in courses %}
    <div class="col-md-4">
        <div class="card p-3 mb-3">
            <h5>{{ course.title }}</h5>
        </div>
    </div>
{% endfor %}
</div>

<h5 class="mt-4">Modules & Lessons</h5>

{% for course in courses %}
<div class="card shadow p-3 mb-3">
    <h5>{{ course.title }}</h5>

    <a href="/ai-quiz/{{ course.id }}/" class="btn btn-dark rounded-pill mt-2">
        🤖 Generate AI Quiz
    </a>
</div>

    {% for module in course.module_set.all %}
        <div>
            <strong>{{ module.title }}</strong>

            <ul>
                {% for lesson in module.lesson_set.all %}
                <li>{{ lesson.title }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endfor %}

<h5 class="mt-4">Assignments</h5>

{% for course in courses %}
    {% for assignment in course.assignment_set.all %}
    <div class="card p-2 mb-2">
        {{ assignment.title }}
        <a href="/submissions/{{ assignment.id }}/" class="btn btn-sm btn-info">
            View Submissions
        </a>
    </div>
    {% endfor %}
{% endfor %}

{% endblock %}