{% extends 'base.html' %}
{% block content %}

<h3>{{ assignment.title }}</h3>

<!-- SECURE VIEW -->
<div style="pointer-events: none; user-select: none;">
    <iframe src="{{ assignment.file.url }}"
            width="100%" height="500px">
    </iframe>
</div>

<!-- SUBMIT FORM -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required class="form-control mt-3">
    <button class="btn btn-success mt-2">Submit Assignment</button>
</form>

{% endblock %}