{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

#pdf-container{
    position:relative;
    text-align:center;
}

#pdf-canvas{
    border:1px solid #ddd;
    max-width:100%;
}

.watermark{
    position:absolute;
    top:100px;
    left:100px;
    font-size:40px;
    opacity:0.15;
    transform:rotate(-30deg);
    pointer-events:none;
    z-index:9999;
    color:#000;
}

body{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}

</style>

<h3>{{ assignment.title }}</h3>

<!-- 🔒 SECURE VIEW -->
<div id="pdf-container">

    <div class="watermark">
        {{ request.user.username }}
    </div>

    <canvas id="pdf-canvas"></canvas>

</div>

<hr>

<h5>📤 Submit Your Solution</h5>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="file" name="file" class="form-control" required>

    <button class="btn btn-success mt-2">
        Submit Assignment
    </button>
</form>

<script src="{% static 'pdfjs/pdf.js' %}"></script>

<script>

pdfjsLib.GlobalWorkerOptions.workerSrc =
"{% static 'pdfjs/pdf.worker.js' %}";

const url = "{{ assignment.file.url }}";

pdfjsLib.getDocument(url).promise.then(function(pdf){

    pdf.getPage(1).then(function(page){

        const scale = 1.5;

        const viewport =
            page.getViewport({ scale });

        const canvas =
            document.getElementById('pdf-canvas');

        const context =
            canvas.getContext('2d');

        canvas.height = viewport.height;
        canvas.width = viewport.width;

        page.render({
            canvasContext: context,
            viewport: viewport
        });

    });

});

</script>

<script>
document.addEventListener(
    'contextmenu',
    function(e){
        e.preventDefault();
    }
);
</script>

<script>

document.addEventListener(
'keydown',
function(e){

    if(
        e.ctrlKey &&
        (
            e.key === 's' ||
            e.key === 'p' ||
            e.key === 'u'
        )
    ){
        e.preventDefault();
    }

    if(
        e.ctrlKey &&
        e.shiftKey &&
        (
            e.key === 'I' ||
            e.key === 'J' ||
            e.key === 'C'
        )
    ){
        e.preventDefault();
    }

    if(e.key === 'PrintScreen'){
        e.preventDefault();
    }

});

</script>

<script>

document.addEventListener(
'visibilitychange',
function(){

    const pdf =
        document.getElementById('pdf-canvas');

    if(document.hidden){
        pdf.style.filter = 'blur(20px)';
    }
    else{
        pdf.style.filter = 'none';
    }

});

</script>



{% endblock %}